<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Contact Us</h1>

<table>
  <tbody>
    <% @contact_us.each do |contact_u| %>
      <tr>
        <td>
        	Store   :   <%= contact_u.store_name %>
        	</br>
        	Phone   :   <%= contact_u.phone %>
        	</br>
        	Email   :   <%= contact_u.email %>
        	</br>
        	Address : <%= contact_u.street %>
        			  <%= contact_u.city %>
        			  <%= contact_u.state %>
        			  <%= contact_u.zip %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

